@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .neumorphic-shadow {
    box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  }

  .container {
    width: 100%;
    min-height: 100dvh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
  }

  .titulo{
    font-size: clamp(28px, 4vw, 43px);
  }

  .paragrafo{
    font-size: clamp(12px, 2vw, 20px);
    text-align: center;
    line-height: 1.5;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 10px;
    margin-bottom: 20px;
  }

  .sobre{
    font-size: clamp(12px, 2vw, 16px);
    text-align: left;
  }

  .sdw {
    box-shadow: 0 10px 40px -5px rgba(0,0,0,0.3);
  }

  /* Largura da barra */
::-webkit-scrollbar {
  width: 12px;
}

/* Fundo da barra */
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

/* Cor da "thumb" (parte que você arrasta) */
::-webkit-scrollbar-thumb {
  background-color: #7FA384;  /* cor verde que combina com seu site */
  border-radius: 10px;
  border: 3px solid #f0f0f0; /* espaçamento ao redor da thumb */
}

/* Thumb quando passar mouse */
::-webkit-scrollbar-thumb:hover {
  background-color: #5f7a60;
}

/* arquivo .css */
#parallax-bg {
  background-image: url('/imgs/Section1/bg-certo-cel.png');
}
@media (min-width: 640px) { /* sm */
  #parallax-bg {
    background-image: url('/imgs/Section1/bg-certo-desk.png');
  }
}


}
